<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Template Inheritance example -->
    <!-- Static file handling example -->
    <!-- before using static tag we have to load it first  -->
    {% load static %}
    <h1>Movie Project
        <!-- using the static tag -->
        <img src="{% static 'images/logo.jpeg' %}" alt="Main Logo" align="right" width="300" height="200"/>
    </h1>
    {% include 'menu.html' %}
    {% block sampleName %}
    <p>Enter your content</p>
    {% endblock sampleName %}
</body>
</html>