<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <ul>
        <li>
            <a href="{% url 'home' %}"> Home</a>
        </li>
        <li>
            <a href="{% url 'create' %}"> Add a new movie</a>
        </li>

        <li>
            <a href="{% url 'list' %}"> Some Famous Movies</a>
        </li>
        <li>
            <a href="{% url 'list1' %}"> List all movies</a>
        </li>
        <li>
            <a href="{% url 'addDirector' %}"> Add a new Director</a>
        </li>
        <li>
            <a href="{% url 'listDirectors' %}"> List the Directors</a>
        </li>
        <li>
            <a href="{% url 'logout' %}"> Signout</a>
        </li>
    </ul>
</body>
</html>