<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <center>
        
                <fieldset style="border: 1px solid #000; padding: 20px;">
                    <legend>Login</legend>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p><label>Username: </label> <input type="text" name="username" ></p>
                        <p><label>Password: </label> <input type="password" name="password" ></p>
                        <button type="submit" >Signin</button>
                    </form>
                    <p style="background-color: firebrick; color: yellow;">{% if error_message %}
                        Error: {{error_message}} 
                        {% endif %}
                    </p>
                    <p>No Account ? register now ! 
                            <a href="{% url 'signup' %}"> Signup</a>
                    </p>
                </fieldset>
            
    </center>
</body>
</html>
